<mat-toolbar>
  <mat-form-field color="accent" class="trm-search-container">
    <input matInput type="text" (input)="terms$.next($event.target.value)">
  </mat-form-field>
  <mat-icon color="accent">search</mat-icon>
</mat-toolbar>
<mat-list>
  <a mat-list-item [routerLink]="['/contacts', contact?.id]" *ngFor="let contact of contacts$ | async;trackBy:trackByFn">
    <img mat-list-avatar [src]="contact?.image" alt="Picture of {{contact?.name}}">
    <h3 mat-line>{{contact?.name}}</h3>
  </a>
</mat-list>
